# 3. Spark

Spark Programming Guide: <https://spark.apache.org/docs/latest/> (use Python API recommended)
Spark API: <https://spark.apache.org/docs/latest/api/python/index.html>


# 3.1 Example Walkthrough
3.1 Follow the Spark Examples below! After completion see Exercise 3.2 and 3.3!


### Initialize PySpark

First, we use the findspark package to initialize PySpark.

In [1]:
import os, sys

#import pyspark.sql

# Initialize PySpark
SPARK_MASTER="local[1]"
APP_NAME = "PySpark Lecture"
os.environ["JAVA_HOME"]="/lrz/sys/compilers/java/jdk1.8.0_112"

import pyspark
#conf=pyspark.SparkConf().set("spark.cores.max", "4")
conf=pyspark.SparkConf()
sc = pyspark.SparkContext(master=SPARK_MASTER, conf=conf)
spark = pyspark.sql.SparkSession(sc).builder.appName(APP_NAME).getOrCreate()

  

print("PySpark initiated...")

PySpark initiated...

### Hello, World!

Loading data, mapping it and collecting the records into RAM...

In [2]:
# Load the text file using the SparkContext
csv_lines = sc.textFile("../data/example.csv")

# Map the data to split the lines into a list
data = csv_lines.map(lambda line: line.split(","))

# Collect the dataset into local RAM
data.collect()

[['Russell Jurney', 'Relato', 'CEO'],
 ['Florian Liebert', 'Mesosphere', 'CEO'],
 ['Don Brown', 'Rocana', 'CIO'],
 ['Steve Jobs', 'Apple', 'CEO'],
 ['Donald Trump', 'The Trump Organization', 'CEO'],
 ['Russell Jurney', 'Data Syndrome', 'Principal Consultant']]

### Creating Objects from CSV

Using a function with a map operation to create objects (dicts) as records...

In [4]:
# Turn the CSV lines into objects
def csv_to_record(line):
    parts = line.split(",")
    record = {
      "name": parts[0],
      "company": parts[1],
      "title": parts[2]
    }
    return record

# Apply the function to every record
records = csv_lines.map(csv_to_record)

# Inspect the first item in the dataset
records.first()

{'name': 'Russell Jurney', 'company': 'Relato', 'title': 'CEO'}

### GroupBy

Using the groupBy operator to count the number of jobs per person...

In [5]:
# Group the records by the name of the person
grouped_records = records.groupBy(lambda x: x["name"])

# Show the first group
grouped_records.first()

# Count the groups
job_counts = grouped_records.map(
  lambda x: {
    "name": x[0],
    "job_count": len(x[1])
  }
)

job_counts.first()

job_counts.collect()

[{'name': 'Russell Jurney', 'job_count': 2},
 {'name': 'Florian Liebert', 'job_count': 1},
 {'name': 'Don Brown', 'job_count': 1},
 {'name': 'Steve Jobs', 'job_count': 1},
 {'name': 'Donald Trump', 'job_count': 1}]

### Map vs FlatMap

Understanding the difference between the map and flatmap operators...

In [6]:
# Compute a relation of words by line
words_by_line = csv_lines\
  .map(lambda line: line.split(","))

print(words_by_line.collect())

# Compute a relation of words
flattened_words = csv_lines\
  .map(lambda line: line.split(","))\
  .flatMap(lambda x: x)

flattened_words.collect()

[['Russell Jurney', 'Relato', 'CEO'], ['Florian Liebert', 'Mesosphere', 'CEO'], ['Don Brown', 'Rocana', 'CIO'], ['Steve Jobs', 'Apple', 'CEO'], ['Donald Trump', 'The Trump Organization', 'CEO'], ['Russell Jurney', 'Data Syndrome', 'Principal Consultant']]

['Russell Jurney',
 'Relato',
 'CEO',
 'Florian Liebert',
 'Mesosphere',
 'CEO',
 'Don Brown',
 'Rocana',
 'CIO',
 'Steve Jobs',
 'Apple',
 'CEO',
 'Donald Trump',
 'The Trump Organization',
 'CEO',
 'Russell Jurney',
 'Data Syndrome',
 'Principal Consultant']

---
## Further Exercises

3.2 Implement a wordcount using Spark. Who many words are in the file `example.csv`?

In [7]:
counts = csv_lines.flatMap(lambda line: line.split(" ")) \
             .map(lambda word: (word, 1)) \
             .reduceByKey(lambda a, b: a + b)

In [8]:
counts.collect()

[('Russell', 2),
 ('Jurney,Relato,CEO', 1),
 ('Florian', 1),
 ('Liebert,Mesosphere,CEO', 1),
 ('Don', 1),
 ('Brown,Rocana,CIO', 1),
 ('Steve', 1),
 ('Jobs,Apple,CEO', 1),
 ('Donald', 1),
 ('Trump,The', 1),
 ('Trump', 1),
 ('Organization,CEO', 1),
 ('Jurney,Data', 1),
 ('Syndrome,Principal', 1),
 ('Consultant', 1)]

3.3 How many log enteries per HTTP Response Code exist?

In [9]:
# Load the text file using the SparkContext
nasa_lines = sc.textFile("../data/nasa/NASA_access_log_Jul95")

In [10]:
nasa_lines.map(lambda a: (a.split()[-2] if len(a.split())>2 else "No Value", 1))\
          .reduceByKey(lambda a, b: a + b)\
          .collect()

[('304', 132627),
 ('404', 10845),
 ('200', 1701534),
 ('302', 46573),
 ('501', 14),
 ('400', 5),
 ('500', 62),
 ('No Value', 1),
 ('403', 54)]